{
  "env": {
    "browser": true
  },
  "plugins": [
    "promise",
    "standard"
  ],
  "globals": {
    "document": false,
    "navigator": false,
    "window": false
  },
  "extends": [
    "eslint:recommended",
    "google"],
  "rules": {
    "indent": [ "error", 2 ],
    "max-len": [1, {
      code: 80,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreRegExpLiterals": true
    }],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "no-unused-vars": ["warn", { "vars": "all", "args": "none", "ignoreRestSiblings": true }],
    "no-var": 1,
    "no-console": 1,
    "linebreak-style": 1
  }
}

